body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
}

form {
    margin-top: 20px;
}

fieldset {
    border: none;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}



input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#date_curr,
#curr_lastQ {
    display: none;
}

input[type="radio"] {
    margin-right: 10px;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}